@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  
  background: #00C3FF; /* Backwards compatible */
  background: -webkit-linear-gradient(
    top,
    #00C3FF,
    #005FEC
    ); /* For Older Chrome, Safari */
    background: -moz-linear-gradient(
      top,
      #00C3FF,
      #005FEC
  ); /* For Older Firefox */
  background: linear-gradient(
    top,
    #00C3FF,
    #005FEC
  ); /* IE10+, FF16+, Chrome26+, Opera12+, Safari17+ */
}
  
canvas {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0px 10px 0px;
  padding: 1vh 1vw 0 calc(min(2vw, 12px)); /* Not above 12px */
  font-family: "Quicksand";
  font-size: calc(min(max(2vw, 18px), 22px)); /* Between 18 and 22px*/
  color: #FFFFFF;
}
#sidebar.openMenu h2 {
  translate: 0;
  transition: translate 0.6s ease;
}

p#stopInfo {
  margin: 10px 0px 10px 0px;
  padding: 0 1vw 0 calc(min(2vw, 12px)); /* Not above 12px */
  font-family: "Quicksand";
  font-size: calc(min(max(2vw, 12px), 18px)); /* Between 12 and 18px*/
  text-decoration: none;
  color: #FFFFFF;
}
#sidebar.openMenu p#stopInfo {
  translate: 0;
  transition: translate 0.6s ease;
}

a:visited, a:link {
  color: #FFFFFF;
}

a:hover, a:active {
  color: #BB99BB;
}

a.navLink, a.navToggle {
  text-decoration: none;
}

#gui {
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#settings {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20vw;
  height: 100%;
  margin: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
}

#settings > * {
  visibility: visible;
}

#settings > button {
  z-index: 1;
  position: relative;
  padding: 4px;
  border: none;
  border-radius: 0px;
  margin: 4px calc(min(10px, 5vw)) 4px 0px; /* right Not above 10px*/
  display: block;
  right: 0;
  font-family: "Quicksand";
}

button:not(.btn-on) {
  background: #E3E3E3;
}

button:not(.btn-on):hover{
  background: #BEBEBE;
}

button.btn-on {
  background: #EEFF00;
}

button.btn-on:hover {
  background: #CCDD00;
}

.content {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  left: 80px;
  padding: 0 10px 0 10px;
}

.navToggle {
  height: 50px;
  border-radius: 5px;
}
.navToggle:hover {
  background: #535A68;
  outline: 5px solid #535A68;
}

.navBar {
  background: #404550;
  position: absolute;
  display: grid;
  row-gap: 20px;
  width: 50px;
  top: 0;
  left: 0;
  padding: 20px;
  margin-right: auto;
}

.navTabs {
  display: grid;
  row-gap: 20px;
  column-gap: 0;
}

.navLink{
  display: flex;
  height: 50px;
  border-radius: 5px;
}
.navLink:hover {
  background: #535A68;
  outline: 5px solid #535A68;
}
.navLink.activeNavLink {
  background: #6B7280;
  outline: 5px solid #6B7280;
}

#timings {
  display: none;
}
#timings.openTimings {
  z-index: 1;
  background: #F0F0DD;
  position: absolute;
  visibility: visible;
  display: block;
  width: 100%;
  height: 100%;
  left: 90px;
  padding: 10px;
}

table.alternateRows {
  text-align: center;
  font-family: "Quicksand";
  border: 2px 0 2px 2px solid #FFFFFF;
  border-radius: 2px;
  border-collapse: collapse;
}
table.alternateRows td {
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 2px 3px;
}
table.alternateRows tbody td {
  font-size: calc(min(max(2vw, 12px), 18px)); /* Between 12 and 18px*/
}
table.alternateRows tbody tr {
  background: #FFEAF6;
}
table.alternateRows tr:nth-child(even) {
  background: #F8C6E3;
}
table.alternateRows thead {
  background: #ED008C;
}
table.alternateRows thead th {
  font-size: calc(min(max(3vw, 16px), 24px)); /* Between 16 and 24px*/
  font-weight: bold;
  padding: 0 20px 0 20px;
  color: #FFFFFF;
}

@media(min-aspect-ratio: 7 / 5) { /* More landscape devices */
  h2 {
    translate: calc(-1 * min(max(30vw, 320px), 500px) - 70px) 0;
    transition: translate 0.6s ease;
  }
  p#stopInfo {
    translate: calc(-1 * min(max(30vw, 320px), 500px) - 70px) 0;
    transition: translate 0.6s ease;
  }
  #sidebar {
    z-index: 1;
    position: absolute;
    visibility: visible;
    background: #404550;
    top: 0px;
    left: 0px;
    width: 90px;
    transition: width 0.6s ease;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: "Quicksand";
  }
  #sidebar.openMenu {
    width: calc(min(max(30vw, 320px), 500px)); /* Between 320 and 500px*/
    transition: width 0.6s ease;
  }
  .navToggle .navTab{
    transform: rotate(0deg);
    transition: transform 0.6s ease;
  }
  .navToggle .navTab.rotateArrow {
    transform: rotate(180deg);
    transition: transform 0.6s ease;
  }
}

@media(max-aspect-ratio: 7 / 5) { /* More portrait devices */
  #sidebar {
    z-index: 1;
    position: absolute;
    visibility: visible;
    background: #404550;
    padding: 0;
    bottom: 0px;
    width: 100%;
    height: 90px;
    transition: height 0.6s ease;
    margin-top: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: "Quicksand";
  }
  #sidebar.openMenu {
    height: calc(max(30vh, 200px)); /* Not below 200px*/
    transition: height 0.6s ease;
  }
  h2 {
    margin: 10px 0px 10px 0px;
    padding: 1vh 1vh 0 calc(min(2vh, 10px)); /* left Not above 10px */
    font-family: "Quicksand";
    font-size: calc(min(max(2vh, 18px), 22px)); /* Between 18 and 22px*/
    color: #ffffff;

    translate: 0 -(calc(max(30vh, 200px)) + 70px);
    transition: translate 0.6s ease;
  }
  p#stopInfo {
    margin: 10px 0px 10px 0px;
    padding: 0 1vh 0 calc(min(2vh, 10px)); /* left Not above 10px */
    font-family: "Quicksand";
    font-size: calc(min(max(2vh, 12px), 18px)); /* Between 12 and 18px*/
    color: #ffffff;
    text-decoration: none;

    translate: 0 -(calc(max(30vh, 200px)) + 70px);
    transition: translate 0.6s ease;
  }
  .content {
    position: absolute;
    left: 0;
  }
  .navBar {
    display: flex;
    justify-content: left;
    align-items: center;
    row-gap: 0;
    column-gap: 20px;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    margin-top: auto;
  }
  .navTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    column-gap: 20px;
    bottom: 0;
  }
  .navToggle .navTab{
    transform: rotate(-90deg);
    transition: transform 0.6s ease;
  }
  .navToggle .navTab.rotateArrow {
    transform: rotate(90deg);
    transition: transform 0.6s ease;
  }
}
