@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  width: 100%;
  height: 100%;
  
  background: #00C3FF; /* Backwards compatible */
  background: -webkit-linear-gradient(
    top,
    #00C3FF,
    #005FEC
    ); /* For Older Chrome, Safari */
    background: -moz-linear-gradient(
      top,
      #00C3FF,
      #005FEC
  ); /* For Older Firefox */
  background: linear-gradient(
    top,
    #00C3FF,
    #005FEC
  ); /* IE10+, FF16+, Chrome26+, Opera12+, Safari17+ */
}
  
canvas {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 10px 0px 10px 0px;
  padding: 1vh 1vw 0 calc(min(2vw, 12px)); /* Not above 12px */
  font-family: "Quicksand";
  font-size: calc(min(max(2vw, 18px), 22px)); /* Between 18 and 22px*/
  color: #FFFFFF;
}
#sidebar.openMenu:not(.inAnotherTab) h2 {
  translate: 0;
  transition: translate 0.6s ease;
}

p#stopInfo {
  margin: 10px 0px 10px 0px;
  padding: 0 1vw 0 calc(min(2vw, 12px)); /* Not above 12px */
  font-family: "Quicksand";
  font-size: calc(min(max(2vw, 12px), 18px)); /* Between 12 and 18px*/
  text-decoration: none;
  color: #FFFFFF;
}
#sidebar.openMenu:not(.inAnotherTab) p#stopInfo {
  translate: 0;
  transition: translate 0.6s ease;
}

a:visited, a:link {
  color: #FFFFFF;
}

a:hover, a:active {
  color: #BB99BB;
}

a.navLink, a.navToggle {
  text-decoration: none;
}

#gui {
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  z-index: 1;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#compassHolder {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
}
#compassHolder > div > img {
  visibility: visible;
  width: 70%;
  height: 70%;
}

.content {
  position: static;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 100%;
  left: 80px;
}

.navToggle, .busLightToggle {
  height: 50px;
  border-radius: 5px;
}
.navToggle:hover, .busLightToggle:hover {
  background: #535A68;
  outline: 5px solid #535A68;
}
.busLightToggle.busLightEnabled {
  background: #6B7280;
  outline: 5px solid #6B7280;
}

.navBar {
  background: #404550;
  position: absolute;
  display: grid;
  row-gap: 20px;
  top: 0;
  left: 0;
  padding: 20px;
  margin-right: auto;
}

.navTabs {
  display: grid;
  row-gap: 20px;
  column-gap: 0;
}

.navLink{
  display: flex;
  height: 50px;
  border-radius: 5px;
}
.navLink:hover {
  background: #535A68;
  outline: 5px solid #535A68;
}
.navLink.activeNavLink {
  background: #6B7280;
  outline: 5px solid #6B7280;
}

#timings {
  z-index: 2;
  display: none;
}
#timings.openTimings {
  position: relative;
  background: #F0F0DD;
  visibility: visible;
  display: block;
  padding: 0;
}

table.alternateRows > thead.noWayBack {
  /* Route 7 only, hide  */
  visibility: hidden;
}

#tableSelector {
  display: flex;
  margin: 0 0 20px 0;
  gap: 10px;
}
#tableSelector > div {
  background: #404550;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 10px;
  width: max-content;
  border-radius: 10px;
  gap: 5px;
  padding: 5px;
}
#tableSelector > div > a {
  background: #6B7280;
  color: #FFFFFF;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  font-family: "Quicksand";
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  vertical-align: center;
  user-select: none; -webkit-user-select: none;
  text-decoration: none;
}
#tableSelector > div > a:hover {
  background: #8F96A5;
}
#tableSelector > div > div {
  display: flex;
  color: #FFFFFF;
  font-family: "Quicksand";
  font-size: calc(min(max(3vw, 13px), 18px)); /* Between 12 and 18px*/
  margin: 0px;
  padding: 0 5px 0 5px;
  line-height: 25px;
  align-items: center;
  justify-content: center;
}

@media(min-aspect-ratio: 7 / 5) { /* More landscape devices */
  h2 {
    translate: calc(-1 * min(max(30vw, 320px), 500px) - 70px) 0;
    transition: translate 0.6s ease;
  }
  p#stopInfo {
    translate: calc(-1 * min(max(30vw, 320px), 500px) - 70px) 0;
    transition: translate 0.6s ease;
  }
  #sidebar {
    z-index: 3;
    position: absolute;
    visibility: visible;
    background: #404550;
    top: 0px;
    left: 0px;
    width: 90px;
    transition: width 0.6s ease;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: "Quicksand";
  }
  #sidebar.openMenu:not(.inAnotherTab) {
    width: calc(min(max(30vw, 320px), 500px)); /* Between 320 and 500px*/
    transition: width 0.6s ease;
  }
  .content {
    padding: 0 10px 0 90px;
  }
  .navToggle .navTab{
    transform: rotate(0deg);
    transition: transform 0.6s ease;
  }
  .navToggle .navTab.rotateArrow {
    transform: rotate(180deg);
    transition: transform 0.6s ease;
  }
  .navBarDivider {
    width: 90%;
    border-width: 2px;
    border-color: #6B7280;
  }
  #timings.openTimings {
    padding-left: 100px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  table.alternateRows {
    width: 55%;
    text-align: center;
    font-family: "Quicksand";
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  table.alternateRows td {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 2px 3px;
  }
  table.alternateRows > tbody td {
    width: calc(100% / 6);
    font-size: calc(min(max(3vw, 14px), 20px)); /* Between 14 and 20px*/
  }
  table.alternateRows > thead th {
    font-size: calc(min(max(4vw, 18px), 28px)); /* Between 18 and 28px*/
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
  }
}

@media(max-aspect-ratio: 7 / 5) { /* More portrait devices */
  #sidebar {
    z-index: 3;
    position: absolute;
    visibility: visible;
    background: #404550;
    padding: 0;
    bottom: 0px;
    width: 100%;
    height: 90px;
    transition: height 0.6s ease;
    margin-top: auto;
    display: inline-flex;
    flex-direction: row-reverse;
    font-family: "Quicksand";
  }
  #sidebar.openMenu:not(.inAnotherTab) {
    height: calc(max(30vh, 200px)); /* Not below 200px*/
    transition: height 0.6s ease;
  }
  h2 {
    margin: 10px 0px 10px 0px;
    padding: 1vh 1vh 0 calc(min(2vh, 10px)); /* left Not above 10px */
    font-family: "Quicksand";
    font-size: calc(min(max(2vh, 18px), 22px)); /* Between 18 and 22px*/
    color: #ffffff;

    translate: 0 -(calc(max(30vh, 200px)) + 70px);
    transition: translate 0.6s ease;
  }
  p#stopInfo {
    margin: 10px 0px 10px 0px;
    padding: 0 1vh 0 calc(min(2vh, 10px)); /* left Not above 10px */
    font-family: "Quicksand";
    font-size: calc(min(max(2vh, 12px), 18px)); /* Between 12 and 18px*/
    color: #ffffff;
    text-decoration: none;

    translate: 0 -(calc(max(30vh, 200px)) + 70px);
    transition: translate 0.6s ease;
  }
  .content {
    padding: 0 10px 0 10px;
  }
  .navBar {
    display: flex;
    justify-content: left;
    align-items: center;
    row-gap: 0;
    column-gap: 20px;
    height: 50px;
    left: 0;
    bottom: 0;
    padding: 20px;
    margin-top: auto;
  }
  .navTabs {
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 0;
    column-gap: 20px;
    bottom: 0;
  }
  .navToggle .navTab{
    transform: rotate(-90deg);
    transition: transform 0.6s ease;
  }
  .navToggle .navTab.rotateArrow {
    transform: rotate(90deg);
    transition: transform 0.6s ease;
  }
  .navBarDivider {
    height: 90%;
    border-width: 2px;
    border-color: #6B7280;
  }
  #timings.openTimings {
    padding: 0 10px 100px 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  table.alternateRows {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family: "Quicksand";
    /* border: 2px 0 2px 2px solid #FFFFFF; */
    /* border-radius: 2px; */
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 10px;
  }
  table.alternateRows td {
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    padding: 2px 3px;
  }
  table.alternateRows > tbody td {
    width: calc(100% / 6);
    font-size: calc(min(max(3vw, 16px), 20px)); /* Between 16 and 20px*/
  }
  table.alternateRows > thead th {
    font-size: calc(min(max(4vw, 18px), 26px)); /* Between 18 and 26px*/
    font-weight: bold;
    padding: 0 20px 0 20px;
    color: #FFFFFF;
  }
}
